<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Delamine</title>
<link href="css/template.css" rel="stylesheet" type="text/css" />

<!--[if lte IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if lte IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->

</head>

<body>
	<!--START CONTAINER-->
    <div id="container">


		<!--START SEARCHBOX-->
        <div id="searchBox">
        Search…        </div>
		<!--END SEARCHBOX-->  
        
        
		<!--START LOGO-->
        <div id="logo">
        <h1>
        <a href="index.html"><img src="images/delamineLogo.png" height="50" width="210" alt="Delamine" /></a>
        </h1>

		<!---->
        </div>
		<!--END LOGO-->  
        
        		<!--START MAINMENU-->
                <div id="mainMenu">
                	<ul>
                    	<li class="first"><a href="index.html">home</a></li>
                    	<li class="active"><a href="#">referenties</a></li>
                    	<li><a href="duurzaamheid.html">duurzaamheid</a></li>
                    	<li><a href="#">producten</a></li>
                    	<li><a href="#">logistiek</a></li>
                    	<li><a href="#">downloads</a></li>
                    	<li><a href="#">delamine</a></li>
                    	<li><a href="#">contact</a></li>
                    </ul>
                <!---->
                </div>
        		<!--END MAINMENU-->
                
        		<!--START HEADER-->
                <div id="headerPortal">
                <img src="images/headerImage01.jpg" />
                </div>
				<!--END HEADER-->
                
                
        		<!--START COL CONTAINER-->
                <div id="colContainerPortal">
                
        			<!--START RIGHT COLUMN-->
                    
                    <div id="rightColPortal">
                    
                    	<div class="rightColBlock">
                        	<div class="rightColBlockImage">
                        	<img src="images/tumb1.jpg" />                        	</div>
                            
                            <div class="rightColBlockContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                            </div>
                        </div>
                    
                    	<div class="rightColBlock">
                        	<div class="rightColBlockImage">
                        	<img src="images/tumb2.jpg" />                        	</div>
                            
                            <div class="rightColBlockContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                            </div>
                        </div>
                        
                        
                    	<div class="rightColBlock">
                        	<div class="rightColBlockImage">
                        	<img src="images/tumb3.jpg" />                        	</div>
                            
                            <div class="rightColBlockContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                            </div>
                        </div>
                        
                        
                    	<div class="rightColBlock">
                        	<div class="rightColBlockImage">
                        	<img src="images/tumb4.jpg" />                        	</div>
                            
                            <div class="rightColBlockContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                            </div>
                        </div>



		<!---->
         </div>
		<!--END RIGHT COLUMN-->
                
                
			<!--START LEFT COLUMN-->
            <div id="leftColPortal">
            
        			<!--START CONTENT-->
                    <div id="contentPortal">


        			<!--START BREADCRUMB-->
                    <div id="breadcrumb">
                    <a href="index.html">home</a> / referenties
                    </div>
        			<!--END BREADCRUMB-->
                    
                    <div class="blogItem">
                    
                    		<div class="blogItemImage">
                        	<img src="images/tumbPortal1.jpg" width="140" height="120" />                            </div>
                            
                            <div class="blogItemContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                    <a href="#" class="readon">Read more…</a>
                            </div>
                    
                    </div>

                    <div class="blogItem">
                    
                    		<div class="blogItemImage">
                        	<img src="images/tumbPortal2.jpg" width="140" height="120" />                            </div>
                            
                            <div class="blogItemContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                    <a href="#" class="readon">Read more…</a>
                            </div>
                    
                    </div>


                    <div class="blogItem">
                    
                    		<div class="blogItemImage">
                        	<img src="images/tumbPortal3.jpg" width="140" height="120" />                            </div>
                            
                            <div class="blogItemContent">
                            <h2>Epoxy curing agents</h2>
                            <p>Delamine produces a full range of Ethylene amines (lower and higher homologues) used in a wide variety of industries,</p>
                    <a href="#" class="readon">Read more…</a>
                            </div>
                    
                    </div>
                    
                    
                          			
                    
                    <!---->
                    </div>
        			<!--END CONTENT-->
                    
        			
                    
            <!---->        
            </div>
			<!--END LEFT COLUMN-->
            
        <!---->        
        </div>
		<!--END COL CONTAINER-->
        
  <div class="spacer"></div>      
        
				<!--START FOOTER-->
                
                <div id="footer"> 
                
                	<ul>
                    	<li class="firstCol">
                        	<h2>contact</h2>
                        </li>
                        
                        
                        <li>
                        	<dl>
                            <dt>Head office	</dt>
                            <dd>P.O. Box 473</dd>
                            <dd>NL-3800 AL Amersfoort</dd>
                            <dd>The Netherlands</dd>
                            <dd>&nbsp;</dd>
							<dd>t. +31 33 467 68 97</dd>
                            <dd>f. +31 33 467 68 91</dd>
                            <dd><a href="mailto:info@delamine.com">info@delamine.com</a></dd>
                            </dl>
                        </li>
                        
                        
                        <li>
                        	<dl>
                            <dt>Marketing</dt>
                            <dd>t. +31 33 467 68 95</dd>
                            <dd>f. +31 33 467 68 91</dd>
                            <dd><a href="mailto:marketing@delamine.com">marketing@delamine.com</a></dd>
                            <dd>&nbsp;</dd>
                            <dt>Sales</dt>
							<dd>t. +31 33 467 68 94</dd>
                            <dd>f. +31 33 467 68 91</dd>
                            <dd><a href="mailto:sales@delamine.com">sales@delamine.com</a></dd>
                            </dl>
                        </li>
                        
                        
                        <li>
                        	<dl>
                            <dt>Visit us</dt>
                            <dd>Barchman Wuytierslaan 10</dd>
                            <dd>3818 LH Amersfoort</dd>
                            <dd>&nbsp;</dd>
                            <dd><a href="#">Road description</a></dd>
                            </dl>
                        </li>
                        
                    </ul>               	
                 
                 <div class="spacer"></div>      

                <!---->    
                </div>
        		<!--END FOOTER-->
        
        

    



</div></body>
</html>
